################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/01_Primera_Vez/FileContentIndex/1d12ac64-ee2c-4054-b2de-03dafea9ff95.vsidx
/.vs/01_Primera_Vez/FileContentIndex/21bdd58a-03e4-4d9f-a928-f39245ad451d.vsidx
/.vs/01_Primera_Vez/FileContentIndex/631e1f05-23ec-4844-be2a-ceef487f284a.vsidx
/.vs/01_Primera_Vez/FileContentIndex/643e117f-5dd9-477b-9040-583fdbb1b048.vsidx
/.vs/01_Primera_Vez/FileContentIndex/679fae08-4eb7-485e-877f-7f38af01e8aa.vsidx
/.vs/01_Primera_Vez/DesignTimeBuild/.dtbcache.v2
/.vs/01_Primera_Vez/FileContentIndex/20598791-2f43-4fc9-bda8-12895d05874c.vsidx
/.vs/01_Primera_Vez/FileContentIndex/e9210ad8-ae9f-4e70-955f-0049d9454f82.vsidx
