################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/01_Primera_Vez/FileContentIndex/1d12ac64-ee2c-4054-b2de-03dafea9ff95.vsidx
